.top{
    height:60px;
    background-color: rgba(115, 236, 206, 0.301);
    padding-top:10px;
    font-size: 30px;
    text-align: center;
}
.hello{
    background-color: tomato;
    height:50px;
    margin-top:30px;
}
.hello1{
    background-color: rgb(66, 117, 100);
    height:50px;
    margin-top:30px;
}
.hello2{
    background-color: rgb(255, 252, 71);
    height:50px;
    margin-top:30px;
}
.link_index{
    margin:40px 0;
}
.contents{
    background-color: rgb(255, 251, 244);
}