.link_new{
    height:60px;
    background-color: rgba(115, 236, 206, 0.301);
    padding-top:10px;
    font-size: 30px;
    text-align: center;
}

.link_create{
    text-align: center;
}

.text{
    font-size: 26px;
}

.link_box{
    padding-top:60px;
}

.field{
    margin-top:5px;
    border-radius: 10px;
    height:35px;
    width:210px;
    font-size:100%;
    text-decoration: none;
    border:1.5px solid rgb(35, 49, 66);
    background:none;
    outline: none;
    -webkit-transition: width .3s;
	transition: width .3s;
}
.field:focus{
    width: 500px;
}
.field_big{
    margin-top:5px;
    border-radius: 10px;
    height:100px;
    width:390px;
    font-size:100%;
    text-decoration: none;
    border:1.5px solid rgb(35, 49, 66);
    background:none;
    outline: none;
}
.contents{
    background-color: rgb(255, 251, 244);
}
.target_serect2{
    width:300px;
}